* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 44px;
    img {
        width: 24px;
        height: 24px;
        margin: 10px 0 10px 16px;
    }
    nav {
        width: 100%;
        //Animacion Menu Hamburguesa
        input {
            display: none;
            &:checked+label+ul {
                display: none;
            }
            &:not(:checked)+label span {
                background-color: rgb(99, 99, 99);
            }
            &:not(:checked)+label #top {
                transform: rotate(-45deg);
                top: 7px;
            }
            &:not(:checked)+label #middle {
                transform: rotate(45deg);
            }
            &:not(:checked)+label #bottom {
                display: none;
            }
        }
        label {
            position: absolute;
            right: 19px;
            top: 16px;
            height: 20px;
            span {
                display: block;
                position: relative;
                background-color: black;
                width: 18px;
                height: 2px;
                margin: 0;
                transition: 0.2s;
            }
            #top {
                top: 0px;
            }
            #middle {
                top: 5px;
            }
            #bottom {
                top: 10px;
            }
        }
        //Lista Elementos Hamburguesa
        ul {
            position: absolute;
            top: 44px;
            left: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            li {
                list-style: none;
                font-family: 'IBM Plex Mono', monospace;
                font-size: 16px;
                letter-spacing: 0;
                line-height: 28px;
                padding: 14px 24px;
                background-color: #0000EC;
                a {
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }
        }
    }
}