main {
    // SECCIÓN TÍTULO
    .titulo {
        margin-top: 29px;
        h1 {
            display: inline;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            font-size: 36px;
            color: #060A24;
            line-height: 42px;
            margin-left: 5%;
        }
        .txt-underlined {
            margin: unset;
            text-decoration: line-through;
            padding-right: 35%;
        }
        .after-underlined {
            display: block;
            margin-bottom: 16px;
        }
        .dot {
            margin-left: 0;
        }
        p {
            display: block;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 14px;
            color: #060A24;
            line-height: 22px;
            margin: 5px 5% 36px 5%;
        }
        .p-pc {
            position: relative;
            display: none;
        }
        button {
            margin: 0 5% 26px 5%;
            justify-items: center;
            width: 288px;
            height: 48px;
            background: #00F3BB;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 16px;
            color: #060A24;
            line-height: 22px;
            font-weight: 500;
            border: unset;
            cursor: pointer;
            &:hover {
                color: #fff;
                background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
            }
        }
    }
    //SECCION EPISODIOS
    .episodios {
        height: 1203.5px;
        svg {
            background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
            position: absolute;
            top: 347px;
            width: 100%;
            height: 1203.5px;
            z-index: -10;
            .svg-pc {
                display: none;
            }
        }
        h2 {
            position: relative;
            top: 64px;
            left: 5%;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            font-size: 36px;
            color: #ffffff;
            line-height: 42px;
        }
        .container-iframe {
            position: relative;
            top: 85px;
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                margin-bottom: 11px;
                height: 235px;
                iframe {
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }
        }
    }
    //SECCION DE DONDE VENIMOS
    .de-donde-venimos {
        position: relative;
        display: flex;
        flex-direction: column;
        transform: translatey(-60px);
        img {
            height: 519px;
            width: 320px;
        }
        article {
            padding-top: 27px;
            h2 {
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 400;
                font-size: 36px;
                color: #060A24;
                line-height: 42px;
                padding: 0 5%;
            }
            p {
                font-family: 'IBM Plex Mono', monospace;
                font-size: 14px;
                color: #060A24;
                line-height: 22px;
                padding: 8px 5% 0;
            }
        }
    }
    //SECCION INVITADOS ESTELARES
    .invitados {
        h2 {
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            font-size: 36px;
            color: #060A24;
            line-height: 42px;
            padding: 0 5%;
        }
        div {
            position: relative;
            top: 14px;
            display: grid;
            grid-template-rows: repeat(6, 76vw);
            grid-template-columns: 100%;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    //SECCION ALGUNOS DE NUESTROS TEMAS
    .algunos {
        position: relative;
        top: 50px;
        h2 {
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            font-size: 36px;
            color: #060A24;
            line-height: 42px;
            padding: 0 5%;
        }
        .svg-container {
            height: 844px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            div {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 104px;
                    height: 104px;
                }
                p {
                    padding-top: 13px;
                    font-family: 'IBM Plex Sans', sans-serif;
                    font-weight: 600;
                    font-size: 24px;
                    color: #060A24;
                    text-align: center;
                }
            }
        }
    }
    //SECCION ULTIMAS NOVEDADES
    .ultimas-novedades {
        margin-top: 42px;
        svg {
            width: 100%;
            height: 341px;
            background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
            z-index: -10;
            position: absolute;
            .svg-pc {
                display: none;
            }
        }
        h2 {
            position: relative;
            top: 64px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            font-size: 36px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 42px;
            margin: 0 5%;
        }
        button {
            position: relative;
            top: 100px;
            display: block;
            margin: 0 auto 26px auto;
            justify-items: center;
            width: 288px;
            height: 48px;
            background: #00F3BB;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 16px;
            color: #060A24;
            line-height: 22px;
            font-weight: 500;
            border: unset;
            cursor: pointer;
            &:hover {
                color: #fff;
                background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
            }
        }
    }
}