* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    // SECCIÓN TÍTULO
    .titulo {
        margin-top: 29px;
        h1 {
            display: inline;
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 36px;
            color: #060A24;
            line-height: 42px;
            margin-left: 5%;
        }
        .txt-underlined {
            margin: unset;
            text-decoration: line-through;
            padding-right: 35%;
        }
        .after-underlined {
            display: inline-block;
            margin-bottom: 16px;
        }
        .dot {
            margin-left: 0;
        }
        p {
            display: block;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 14px;
            color: #060A24;
            line-height: 22px;
            margin: 5px 5% 36px 5%;
        }
        .p-pc {
            position: relative;
            display: none;
        }
        button {
            margin: 0 5% 26px 5%;
            justify-items: center;
            width: 288px;
            height: 48px;
            background: #00F3BB;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 16px;
            color: #060A24;
            line-height: 22px;
            font-weight: 500;
            border: unset;
            &:hover {
                color: #fff;
                background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
            }
        }
    }
    //SECCION EPISODIOS
    .episodios {
        height: 1203.5px;
        svg {
            background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
            position: absolute;
            top: 347px;
            width: 100%;
            height: 1203.5px;
            z-index: -10;
            .svg-pc {
                display: none;
            }
        }
        h2 {
            position: relative;
            top: 64px;
            left: 5%;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 300;
            font-size: 36px;
            color: #ffffff;
            line-height: 42px;
        }
        .container-iframe {
            position: relative;
            top: 85px;
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                margin-bottom: 11px;
                height: 235px;
                /*border-radius: 5%;
                overflow: hidden;*/
            }
        }
    }
    //SECCION DE DONDE VENIMOS
    .de-donde-venimos {
        position: relative;
        /*display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 42px 42px 1fr;
        justify-content: center;*/
        display: flex;
        flex-direction: column;
        transform: translatey(-60px);
        img {
            //grid-row: 1 / 2;
            height: 519px;
            width: 100%;
        }
        article {
            padding-top: 27px;
            h2 {
                //grid-row: 2 / 3;
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 36px;
                color: #060A24;
                line-height: 42px;
                padding-left: 5%;
            }
            /*.venimos {
            grid-row: 3 / 4;
            }*/
            p {
                //grid-row: 4 / 5;
                font-family: 'IBM Plex Mono', monospace;
                font-size: 14px;
                color: #060A24;
                line-height: 22px;
                padding: 8px 5% 0;
            }
        }
    }
}