@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  width: 100%;
  height: 44px;
}

header img {
  width: 24px;
  height: 24px;
  margin: 10px 0 10px 16px;
}

header nav {
  width: 100%;
}

header nav input {
  display: none;
}

header nav input:checked + label + ul {
  display: none;
}

header nav input:not(:checked) + label span {
  background-color: #636363;
}

header nav input:not(:checked) + label #top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 7px;
}

header nav input:not(:checked) + label #middle {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header nav input:not(:checked) + label #bottom {
  display: none;
}

header nav label {
  position: absolute;
  right: 19px;
  top: 16px;
  height: 20px;
}

header nav label span {
  display: block;
  position: relative;
  background-color: black;
  width: 18px;
  height: 2px;
  margin: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header nav label #top {
  top: 0px;
}

header nav label #middle {
  top: 5px;
}

header nav label #bottom {
  top: 10px;
}

header nav ul {
  position: absolute;
  top: 44px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

header nav ul li {
  list-style: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
  padding: 14px 24px;
  background-color: #0000EC;
}

header nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

main .titulo {
  margin-top: 29px;
}

main .titulo h1 {
  display: inline;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
  margin-left: 5%;
}

main .titulo .txt-underlined {
  margin: unset;
  text-decoration: line-through;
  padding-right: 35%;
}

main .titulo .after-underlined {
  display: block;
  margin-bottom: 16px;
}

main .titulo .dot {
  margin-left: 0;
}

main .titulo p {
  display: block;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24;
  line-height: 22px;
  margin: 5px 5% 36px 5%;
}

main .titulo .p-pc {
  position: relative;
  display: none;
}

main .titulo button {
  margin: 0 5% 26px 5%;
  justify-items: center;
  width: 288px;
  height: 48px;
  background: #00F3BB;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #060A24;
  line-height: 22px;
  font-weight: 500;
  border: unset;
  cursor: pointer;
}

main .titulo button:hover {
  color: #fff;
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

main .episodios {
  height: 1203.5px;
}

main .episodios svg {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  position: absolute;
  top: 347px;
  width: 100%;
  height: 1203.5px;
  z-index: -10;
}

main .episodios svg .svg-pc {
  display: none;
}

main .episodios h2 {
  position: relative;
  top: 64px;
  left: 5%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  line-height: 42px;
}

main .episodios .container-iframe {
  position: relative;
  top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .episodios .container-iframe div {
  margin-bottom: 11px;
  height: 235px;
}

main .episodios .container-iframe div iframe {
  width: 100%;
  height: 100%;
  border: none;
}

main .de-donde-venimos {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translatey(-60px);
          transform: translatey(-60px);
}

main .de-donde-venimos img {
  height: 519px;
  width: 320px;
}

main .de-donde-venimos article {
  padding-top: 27px;
}

main .de-donde-venimos article h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
  padding: 0 5%;
}

main .de-donde-venimos article p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24;
  line-height: 22px;
  padding: 8px 5% 0;
}

main .invitados h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
  padding: 0 5%;
}

main .invitados div {
  position: relative;
  top: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (76vw)[6];
      grid-template-rows: repeat(6, 76vw);
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

main .invitados div img {
  height: 100%;
  width: 100%;
}

main .algunos {
  position: relative;
  top: 50px;
}

main .algunos h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
  padding: 0 5%;
}

main .algunos .svg-container {
  height: 844px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .algunos .svg-container div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .algunos .svg-container div img {
  width: 104px;
  height: 104px;
}

main .algunos .svg-container div p {
  padding-top: 13px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #060A24;
  text-align: center;
}

main .ultimas-novedades {
  margin-top: 42px;
}

main .ultimas-novedades svg {
  width: 100%;
  height: 341px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  z-index: -10;
  position: absolute;
}

main .ultimas-novedades svg .svg-pc {
  display: none;
}

main .ultimas-novedades h2 {
  position: relative;
  top: 64px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
  margin: 0 5%;
}

main .ultimas-novedades button {
  position: relative;
  top: 100px;
  display: block;
  margin: 0 auto 26px auto;
  justify-items: center;
  width: 288px;
  height: 48px;
  background: #00F3BB;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #060A24;
  line-height: 22px;
  font-weight: 500;
  border: unset;
  cursor: pointer;
}

main .ultimas-novedades button:hover {
  color: #fff;
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

footer {
  background-color: #fff;
  position: relative;
  top: 140px;
  height: 120px;
}

footer p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24;
  line-height: 22px;
  padding-top: 24px;
  text-align: center;
}

footer .awesome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 14%;
}

footer .awesome-container a {
  color: #060A24;
}

footer .awesome-container a i {
  font-size: 16px;
}

@media screen and (min-width: 800px) {
  header {
    height: 80px;
  }
  header img {
    margin: 22px 0 22px 100px;
    width: 36px;
    height: 36px;
  }
  header nav {
    width: unset;
  }
  header nav input {
    display: none;
  }
  header nav label {
    display: none;
  }
  header nav ul {
    position: relative;
    top: 0;
    display: inline !important;
  }
  header nav ul li {
    font-weight: 500;
    display: inline-block;
    background-color: unset;
    padding: 26px 24px;
    text-align: center;
  }
  header nav ul li:last-child {
    padding-right: 100px;
  }
  header nav ul li a {
    color: #060A24;
  }
  header nav ul li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  header nav ul li a:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
  main .titulo {
    margin-top: 120px;
  }
  main .titulo h1 {
    font-size: 64px;
  }
  main .titulo .txt-underlined {
    padding: 0;
  }
  main .titulo .after-underlined {
    display: unset;
    margin-left: 7px;
  }
  main .titulo .dot {
    color: #0000EC;
  }
  main .titulo p {
    font-size: 16px;
    width: 628px;
    margin-top: 10px;
    margin-bottom: 56px;
  }
  main .titulo .p-cel {
    display: none;
  }
  main .titulo .p-pc {
    display: block;
    text-align: justify;
    margin-left: 5%;
  }
  main .titulo button {
    margin-bottom: 5px;
  }
  main .episodios h2 {
    top: 186px;
    font-size: 48px;
  }
  main .episodios svg {
    top: 449px;
    height: 1042.6px;
  }
  main .episodios svg .svg-pc {
    display: unset;
  }
  main .episodios svg .svg-cel {
    display: none;
  }
  main .episodios .container-iframe {
    width: 90%;
    margin: 0 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 274px;
  }
  main .de-donde-venimos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translatey(-300px);
            transform: translatey(-300px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .de-donde-venimos a {
    position: relative;
    top: -300px;
  }
  main .de-donde-venimos img {
    padding-right: 24px;
    width: 457.6px;
    height: 660px;
  }
  main .de-donde-venimos article {
    height: 290px;
    width: 464px;
    padding: 0;
  }
  main .de-donde-venimos article h2 {
    display: inline;
  }
  main .de-donde-venimos article .venimos {
    padding: 0;
  }
  main .de-donde-venimos article p {
    padding-top: 24px;
  }
  main .invitados {
    -webkit-transform: translatey(-236px);
            transform: translatey(-236px);
  }
  main .invitados h2 {
    padding-left: 14%;
    font-size: 48px;
  }
  main .invitados div {
    position: relative;
    top: 36px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (25.3vw)[2];
        grid-template-rows: repeat(2, 25.3vw);
  }
  main .algunos {
    position: relative;
    top: -150px;
  }
  main .algunos h2 {
    padding-left: 14%;
    font-size: 48px;
  }
  main .algunos .svg-container {
    margin-top: 56px;
    margin-left: 14%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: unset;
  }
  main .algunos .svg-container div {
    width: 260px;
  }
  main .ultimas-novedades svg {
    height: 518px;
  }
  main .ultimas-novedades svg .svg-cel {
    display: none;
  }
  main .ultimas-novedades svg .svg-pc {
    display: unset;
  }
  main .ultimas-novedades h2 {
    font-size: 48px;
    top: 213px;
  }
  main .ultimas-novedades button {
    display: block;
    margin: 0 auto;
    height: 56px;
    width: 345px;
    font-size: 18px;
    top: 249px;
  }
  footer {
    height: 95px;
    width: 100%;
    top: 420px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 7%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    padding: unset;
    font-size: 16px;
  }
  footer .awesome-container {
    padding: unset;
    width: 314px;
  }
  footer .awesome-container a i {
    font-size: 18px;
  }
}

@media screen and (min-width: 1315px) {
  .episodios .container-iframe {
    width: 90%;
    margin: 0 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 274px;
  }
  .episodios .container-iframe div {
    width: 584px;
    height: 232px;
    margin-bottom: 72px;
  }
}
/*# sourceMappingURL=style.css.map */